* {
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: white;
  }

  .container {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #181818;
    color: white;
  }

  .container {
    background: rgba(255, 255, 255, .1);
  }
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  width: 80%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 1rem;
  align-items: center;

  border-radius: 2em;
}

.img-logo {
  width: 100%;
  filter: grayscale(100%);
}
